.gold {
  color: #f0b310; }

.icon-arrow {
  float: right;
  background: url("../images/icon_arrow.png") right center no-repeat;
  padding-right: 18px;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
