.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

html {
	min-width: 960px;
}

body {
	background-image: url('../images/bg_body-inner.jpg');
	background-color: #2f200e;
	background-position: center 0;
	background-repeat: no-repeat;

	&.home {
		background-image: url('../images/bg_body.jpg');
		background-position: center 17px;
	}

	&.portfolio {
		background-image: url('../images/bg_body-inner2.jpg');
	}

	&.design-services {
		background-image: url('../images/bg_body-inner6.jpg');
	}

	&.quality-products-services {
		background-image: url('../images/bg_body-inner4.jpg');
	}

	&.contact {
		background-image: url('../images/bg_body-inner5.jpg');
	}
}

#wrapper {
	min-width: 960px;

	> div {
		background: url('../images/bg_header-repeat.png') top center repeat-x;
	}
}

#header {
	padding: 49px 0 25px 0;
	background: url('../images/divider.png') bottom center repeat-x;

	.home & {
		background: none;
	}
}

#content {
	padding: 0 0 25px 0;

	&.with-bottom {
		background: url('../images/divider.png') bottom center repeat-x;
	}

	.item-page {
		padding-top: 10px;
	}
}

#bottom {
	padding: 10px 0;
	overflow: auto;
}

#footer {
	font-size: 12px;
	color: $gold;
	padding: 20px 0;
}

#copyright {
	background: url('../images/divider.png') top center repeat-x;
	font-family: "purista-web";
	overflow: auto;
	padding-top: 20px;
}

//portfolio - simple image gallery 

.portfolio .item-page {
	margin-left: -18px;
	*zoom: 1;
	
	h1 {
		margin-left: 18px;
	}
}

ul.sigProContainer {
	padding: 0 !important;
	overflow: visible;

	li.sigProThumb {
		margin: 0 0 18px 18px;
		background: inherit;
		box-shadow: 2px 2px 9px rgba(black, .75);

		span.sigProLinkOuterWrapper {
			padding: 0;
			background: none;
		}

		span.sigProLinkWrapper {
			padding: 0;
			border: 0;
			margin: 0;
		}
	}
}