// @group hmenu
.hmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;

		padding: 0 5px;
	}

	.menu > li > a,
	.menu > li > span {
		display: block;

		span {

		}
	}

	ul ul { // submenu
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;

		li {
			white-space: nowrap;
		}
	}
}

.primary-menu {
	font-family: "purista-web", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: 3px 3px 4px rgba(black, .8);
	float: right;
	margin-top: 84px;

	.menu > li {
		position: relative;
		padding: 0 0 0 26px;


		&:first-child {
			padding-left: 0;
		}
	}

	a {
		color: #ffffff;
		&:hover {
			color: $gold;
			text-decoration: none;
		}
	}

	ul ul {
		//display: none;
		opacity: 0;

		position: absolute;
		top: 100%;
		left: 26px;
		margin: 0 0 0 -0.5em;
		padding: 0.25em 0.5em;

		list-style: none;

		@include transition(opacity .2s ease-in);
	}

	li:hover ul {
		//display: block;
		opacity: 1;
	}
}

.secondary-menu {
	margin-bottom: 10px;

	.menu > li {
		padding: 0 8px;
		line-height: 1em;
		border-left: 1px solid #ffffff;

		&:first-child {
			padding-left: 0;
			border-left: none;
		}
	}

	a {
		color: #ffffff;
		&:hover {
			color: $gold;
			text-decoration: none;
		}
	}
}

// @group vmenu
.vmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	ul ul { // submenus
		margin: 0.5em 0 1em 1em;
		list-style: none;
	}
}
