// @group modules
.module {} // DO NOT TOUCH
.module h3 {
	font-family: "purista-web";
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 300;
}

.logo {
	float: left;
}

.masthead {
	img {
		box-shadow: 0px 0px 18px rgba(black, .5);
	}
}

.module.portfolio {

	div.custom {
		margin-left: -18px;
	}

	.sigProContainer {
		padding: 0 !important;
		overflow: visible;

		li {
			margin: 0 0 8px 18px;
			background: inherit;
			box-shadow: 2px 2px 9px rgba(black, .75);

			span.sigProLinkOuterWrapper {
				padding: 0;
				background: none;
			}

			span.sigProLinkWrapper {
				padding: 0;
				border: 0;
				margin: 0;
			}
		}
	}
}