// @group modules
.module {} // DO NOT TOUCH
.module h3 {
	font-family: "purista-web";
	font-size: 18px;
	color: #ffffff;
	font-weight: 300;
}

.logo {
	float: left;
	width: 219px;
	height: 114px;

	img {
		margin-top: -90px;
		margin-left: -240px;
	}
}
